<div class="container">
    <h2 class="text-center mb-3">Todo List by Nikhil</h2>
    <h3>Add Todo</h3>
    <app-add-todo (todoAdd)="AddTodo($event)"></app-add-todo>
    <h3 class="my-3">My Todos</h3>
    <div *ngIf="todos.length < 1; else elseBlock">No Todo item to display</div>
    <ng-template #elseBlock>
    <div *ngFor="let item of todos" class="my-3">
        <app-todo-item [todoItem]="item" (todoDelete)="DeleteSelectedTodo($event)"  (activeTodo)="UpdateTodoActive($event)"></app-todo-item>
    </div>
</ng-template>
</div>
